<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div id="center">
        <h2>Login</h2>
            {% if app.flashes('error') %}
                <div class="alert alert-danger">
                    {% for message in app.flashes('error') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>

                <input type="submit" value="Login">
            </form>

            <p>Sign up <a href="{{ path('register') }}">here</a>!</p>
            {# <p><a href="{{ path('password_recovery') }}">Forgot your password?</a></p> #}
        </div>
    </div>
</body>
</html>
